<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Memorix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="assets\photo\Memorix.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Inicio Sesion</ion-card-title>      
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm">
      <ion-item>
        <ion-input formControlName="usuario" label="Correo" labelPlacement="stacked" placeholder="Correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" label="Contraseña" type="password" labelPlacement="stacked" placeholder="Contraseña"></ion-input>
      </ion-item>
      </form>
      <br>
      <ion-button id = "botonIngresar"class="btn-block" expand="block" (click)="onLogin()">Ingresar</ion-button>
      <br>
      <ion-button expand="block" [routerLink]="['/registro']">Registro</ion-button>
      <a [routerLink]="['/rcontra']">Recuperar Contraseña</a>
    </ion-card-content>
  </ion-card>
</ion-content>
