<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerDirection="root">
        <ion-icon name="home-outline"></ion-icon>
        Bienvenido
      </ion-tab-button>
      <ion-tab-button tab="subir-contenido" routerDirection="root">
        <ion-icon name="add-outline"></ion-icon>
        Subir contenido
      </ion-tab-button>
      <ion-tab-button tab="albumes" routerDirection="root">
        <ion-icon name="images-outline"></ion-icon>
        Álbumes
      </ion-tab-button>
      <ion-tab-button tab="menu" routerDirection="root">
        <ion-icon name="menu-outline"></ion-icon>
        Menu
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
